<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css">  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="../css/editmovie.css"> 


  <link href="../css/cover.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    	<style type="text/css">
    	.inner h3,h1 {
				color:white;
				font-size:30px;
				text-align-last: center;
			}

		.container {
			margin-bottom: 20px;
			color: white;
		}
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="MovieController" class="container"> 

<div class = "row adminheader">
		<div class="col-lg-2 inner">

			    
			<h3 class="masthead-brand">Filmsgalore </h3>
			        
				
		</div>
		<div class="col-lg-10">	
		<nav class="nav nav-masthead">
        	
           <a class="nav-link" href="main.html">Search</a>

           <a class="nav-link" href="cart.html" ng-if="login">Cart</a>
           <a class="nav-link active" href="editmovie.html" ng-show="admin">Edit Store</a>
           <a class="nav-link" href="signup.html" ng-show="!login">Sign Up</a>
           <a class="nav-link" href="login.html" ng-show="!login">Login</a>
           <a class="nav-link" href="#" ng-show="login" ng-click="logout()">Logout</a>
         </nav>
         </div>
</div>
 <div id="addmovie">

		<form id="addmovieform" ng-submit="uploadAndAddMovieDetails()">
		  		   
			   	<div class="form-group">
				  <label class="col-form-label" for="movietitle">Title<span >*</span></label>
				  <input type="text" class="form-control" id="movietitle" ng-model="moviedetails.title" ng-required="true">
				  <span ng-show="!moviedetails.title.length">Please enter something!</span>

				</div>

			    <div class="form-group">
			      <label class="col-form-label" for="moviedesc">Description<span >*</span></label>
			      <textarea class="form-control" id="movieDescription" ng-model="moviedetails.description" rows="3" ng-required="true"></textarea>
			            <span ng-show="!moviedetails.description.length">Please enter something!</span>

			    </div>

			    <div class="form-group">
				  <label class="col-form-label" for="moviegenre">Genre<span >*</span></label>
				  <input type="text" class="form-control" id="movieGenre" ng-model="moviedetails.genre" ng-required="true">
				        <span ng-show="!moviedetails.genre.length">Please enter something!</span>

				</div>

		 		<div class="form-group">
				  <label class="col-form-label" for="movieyear">Year<span >*</span></label>
				  <input type="number" class="form-control" id="movieYear" ng-model="moviedetails.year" ng-required="true" min="1800" max="3000">
				        <span ng-show="!moviedetails.year">This accepts years after 1800</span>

				</div>

				<div class="form-group">
				  <label class="col-form-label" for="movieruntime">Runtime (minutes)<span >*</span></label>
				  <input type="number" class="form-control" id="movieRuntime" ng-model="moviedetails.runtime_minutes" ng-required="true" min="0">
				        <span ng-show="!moviedetails.runtime_minutes">This accepts only numbers </span>

				</div>	

				<div class="form-group">
				  <label class="col-form-label" for="movierating">Rating<span >*</span></label>
				  <input type="number" class="form-control" id="movieRating" ng-model="moviedetails.rating" ng-required="true" step="any" min="0" max="10">
				        <span ng-show="!moviedetails.rating">This accepts only numbers between 0.0 to 10.0</span>

				</div>		

 				<!-- file upload -->
 				<div class="form-group">
 					<label class="col-form-label" for="picture">Upload Pictures</label>
 					<br>
 					<input type='file' multiple ng-file='uploadfiles' class="form-control-file" accept=".jpg" ><br/>
 					<!-- <input type='button' value='Upload' id='upload' ng-click='upload()' > -->
 
 					<!-- <p>{{ response.name }}</p> -->

 				</div>
			    
			    <button type="submit" class="btn btn-primary">Submit</button>
		  	
		</form>
  </div>

</div><!-- ng-app -->


<!-- Modal -->

<div class="modal" id="messagemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="returnmsg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--movie data script-->
<script src = "../js/movie.js"></script>
</body>
</html>
