<!DOCTYPE html>
<html lang="en">
<head>
  <title>MovieStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/cart.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src='../js/config.js'></script>
  <script src='../js/cart.js'></script>
</head>
<body ng-app="myApp" ng-controller="cartController">
	<header id="site-header" style="background-color: powderblue">
		<div class="container">
			<h2 style="float: left">Shopping cart</h2> 
			<h2 style="float: right" ng-click="logout()"><span  class="glyphicon glyphicon-log-out"></span> Log Out</h2>
		</div>
		
	</header>

	<div class="container" ng-show="cart.length == 0">
		<h1>There are no items in cart!</h1>
	</div>

	<div class="container">

		<section id="cart"> 
			<article class="product" ng-repeat="movie in cart">
				<header>
					<a>
						<img src="../images/{{movie.imageurl}}" alt="Image not found">
						<!-- <h3>Remove product</h3> -->
					</a>
				</header>

				<div class="content">

					<h1>{{movie.title}}</h1>
					{{movie.description}}
				</div>

				<footer class="content">
					<button ng-disabled="movie.subDisabled" ng-click="subQuantity(movie)"><span class="qt-minus">-</span></button>
					<span class="qt">{{movie.quantity}}</span>
					<button ng-disabled="movie.addDisabled" ng-click="addQuantity(movie)"><span class="qt-plus">+</span></button>

					<h2 class="full-price">
						${{movie.price * movie.quantity}}
					</h2>

					<h2 class="price">						
						${{movie.price}}
					</h2>
				</footer>
			</article>
		</section>

	</div>

	<div>
		<footer id="site-footer">
			<div class="container clearfix">

				<div class="left">
					<h2 class="subtotal" ng-model="subTotal">Subtotal: {{ getSubTotal() | currency }}</h2>
					<h3 class="tax" ng-model="tax">Taxes (8.25%): ${{ (0.825 * getSubTotal()) | number : 2}}</h3>
					<h3 class="shipping" ng-model="shippingCost">Shipping: $4.99</h3>
				</div>

				<div class="right">
					<h1 class="total">Total: <span>${{ getTotal() }}</span></h1>
					<button ng-disabled="cart.length == 0" class="btn" style="width: 100%;" ng-click="checkout()">Checkout</button>
					<a href="./main.html"><center>Continue Shopping </center></a>
				</div>

			</div>
		</footer>

	</div>
	



</body>

</html>
