<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css"> 
<!-- old -->

</head>
<body>
<div ng-app="myApp" ng-controller="MovieController" class="container"> 

<div class="row panel panel-default">
<div class="col-lg-12 panel-body">

<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link active" data-toggle="tab" href="#addmovie">Add Movie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#modifymovie">Modify Movie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#deletemovie">Delete Movie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#getmovie" ng-click="getAllMovies()">List Movies</a>
  </li>
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="addmovie">

		<form id="addmovieform">
		  		   
			   	<div class="form-group">
				  <label class="col-form-label" for="movietitle">Title</label>
				  <input type="text" class="form-control" id="movietitle" ng-model="moviedetails.title">
				</div>

			    <div class="form-group">
			      <label class="col-form-label" for="moviedesc">Description</label>
			      <textarea class="form-control" id="movieDescription" ng-model="moviedetails.description" rows="3"></textarea>
			    </div>

			    <div class="form-group">
				  <label class="col-form-label" for="moviegenre">Genre</label>
				  <input type="text" class="form-control" id="movieGenre" ng-model="moviedetails.genre">
				</div>

		 		<div class="form-group">
				  <label class="col-form-label" for="movieyear">Year</label>
				  <input type="text" class="form-control" id="movieYear" ng-model="moviedetails.year">
				</div>

				<div class="form-group">
				  <label class="col-form-label" for="movieruntime">Runtime (minutes)</label>
				  <input type="text" class="form-control" id="movieRuntime" ng-model="moviedetails.runtime_minutes">
				</div>	

				<div class="form-group">
				  <label class="col-form-label" for="movierating">Rating</label>
				  <input type="text" class="form-control" id="movieRating" ng-model="moviedetails.rating">
				</div>		

 				<!-- file upload -->
 				<div class="form-group">
 					<label class="col-form-label" for="picture">Pictures</label>
 					<br>
 					<input type='file' multiple ng-file='uploadfiles' class="form-control-file"><br/>
 					<!-- <input type='button' value='Upload' id='upload' ng-click='upload()' > -->
 
 					<!-- <p>{{ response.name }}</p> -->

 				</div>
			    
			    <button type="submit" class="btn btn-primary" ng-click="uploadAndAddMovieDetails()">Submit</button>
		  	
		</form>
  </div>
  <div class="tab-pane fade" id="modifymovie">
     <!-- delete movie -->
		<div id="modify-movie-group"> 
			<p id="operationmessage"></p>

			<div class="form-group">
			  <label class="col-form-label" for="inputDefault">Movie ID</label>
			  <input type="text" class="form-control" placeholder="Enter a numeric id" id="inputDefault" ng-model="movieid">
			</div>
			<button type="button" class="btn btn-primary" ng-click="getMovie()">Get Details</button>
		</div>
		<div id="modify-movie-details-group" class="panel-body" ng-if="modifiedmoviedetails">
		<form id="modifymovieform">
		  	<fieldset>		   
			   	<div class="form-group">
				  <label class="col-form-label" for="movietitle">Title</label>
				  <input type="text" class="form-control" id="movietitle" ng-model="modifiedmoviedetails.title">
				</div>

			    <div class="form-group">
			      <label class="col-form-label" for="moviedesc">Description</label>
			      <textarea class="form-control" id="movieDescription" ng-model="modifiedmoviedetails.description" rows="3"></textarea>
			    </div>

			    <div class="form-group">
				  <label class="col-form-label" for="moviegenre">Genre</label>
				  <input type="text" class="form-control" id="movieGenre" ng-model="modifiedmoviedetails.genre">
				</div>

		 		<div class="form-group">
				  <label class="col-form-label" for="movieyear">Year</label>
				  <input type="text" class="form-control" id="movieYear" ng-model="modifiedmoviedetails.year">
				</div>

				<div class="form-group">
				  <label class="col-form-label" for="movieruntime">Runtime (minutes)</label>
				  <input type="text" class="form-control" id="movieRuntime" ng-model="modifiedmoviedetails.runtime_minutes">
				</div>	

				<div class="form-group">
				  <label class="col-form-label" for="movierating">Rating</label>
				  <input type="text" class="form-control" id="movieRating" ng-model="modifiedmoviedetails.rating">
				</div>		
			   

		    	<button type="submit" class="btn btn-primary" ng-click="updateMovie()">Submit</button>
		  	</fieldset>
		</form>
	</div>
  </div>
  <div class="tab-pane fade" id="deletemovie">
    <!-- delete movie -->
		<div id="delete-movie-group"> 
			<p id="operationmessage"></p>
			<div class="form-group">
			  <label class="col-form-label" for="inputDefault">Movie ID</label>
			  <input type="text" class="form-control" placeholder="Enter a numeric id" id="inputDefault" ng-model="movieid">
			</div>
			<button type="button" class="btn btn-primary" ng-click="deleteMovie()">Delete</button>
			
		</div>
  </div>
  <div class="tab-pane fade" id="getmovie">
   <!-- list all movies -->
		<table class="table table-hover">
		  <thead>
		    <tr class="table-warning">
		   	  <th scope="col">Movie ID</th>
		      <th scope="col">Title</th>
		      <th scope="col">Genre</th>
		      <th scope="col">Description</th>
		      <th scope="col">Year</th>
		      <th scope="col">Runtime Minutes</th>
		      <th scope="col">Rating</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr class="table-dark" ng-repeat="movie in movies">
		      <td>{{movie.movieid}}</td>
		      <th scope="row">{{movie.title}}</th>
		      <td>{{movie.genre}}</td>
		      <td>{{movie.description}}</td>
		      <td>{{movie.year}}</td>
			  <td>{{movie.runtime_minutes}}</td>
		      <td>{{movie.rating}}</td>
		    </tr>
		  </tbody>
		</table> 
  </div> 
</div>
</div>
</div> 
</div><!-- ng-app -->


<!-- Modal -->

<div class="modal" id="messagemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="returnmsg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--movie data script-->
<script src = "../js/movie.js"></script>
<!-- <script src = "../js/fileupload.js"></script> -->
</body>
</html>