<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css">  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	 
    <link href="../css/cover.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/editmovie.css">
    <style type="text/css">
    	.inner h3, h1 {
				color:white;
				font-size:30px;
				text-align-last: center;
			}
    </style>
 
</head>
<body ng-app="myApp" ng-controller="MovieController">
<div class="container">	
	<div class = "row adminheader">
		<div class="col-lg-2 inner">

			    
			<h3 class="masthead-brand">Filmsgalore </h3>
			        
				
		</div>
		<div class="col-lg-10">	
		<nav class="nav nav-masthead">
        	
           <a class="nav-link" href="main.html">Search</a>

           <a class="nav-link" href="cart.html" ng-if="login">Cart</a>
           <a class="nav-link active" href="editmovie.html" ng-show="admin">Edit Store</a>
           <a class="nav-link" href="signup.html" ng-show="!login">Sign Up</a>
           <a class="nav-link" href="login.html" ng-show="!login">Login</a>
           <a class="nav-link" href="#" ng-show="login" ng-click="logout()">Logout</a>
         </nav>
         </div>
     </div>

	<p class="panel-body"><a class="btn btn-primary" href="add-movie.html">Add a movie </a>  </p>
	<br>
   <div id="getmovie">
   	<h4 class="textcolor"> Movie list </h4>

   <!-- list all movies -->
		<table class="table">
		  <thead>
		    <tr class="table-primary">
		   	  <th scope="col">Movie ID</th>
		      <th scope="col">Title</th>
		      <th scope="col">Genre</th>
		      <th scope="col">Description</th>
		      <th scope="col">Year</th>
		      <th scope="col">Runtime Minutes</th>
		      <th scope="col">Rating</th>
		      <th scope="col"></th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr class="table" ng-repeat="movie in movies">
		      <td>{{movie.movieid}}</td>
		      <th scope="row">{{movie.title}}</th>
		      <td>{{movie.genre}}</td>
		      <td>{{movie.description}}</td>
		      <td>{{movie.year}}</td>
			  <td>{{movie.runtime_minutes}}</td>
		      <td>{{movie.rating}}</td>
		      <td><a class="btn btn-primary btn-sm" href="modify-movie.html?movieid={{movie.movieid}}">
          				 Edit 
        				</a>
        	   </td>
        	   <td><a class="btn btn-primary btn-sm" href="#" ng-click="confirmDeleteMovie(movie.movieid)">
          				 Remove 
        				</a>
        		</td>	
		    </tr>
		  </tbody>
		</table> 
  </div>
  </div> 
</div>

</div><!-- ng-app -->


<!-- Modal -->

<div class="modal" id="messagemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="returnmsg"> Do you want to delete this movie?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteMovie()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>

<!-- script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--movie data script-->
<script src = "../js/movie.js"></script>

<!-- <script src = "../js/fileupload.js"></script> -->
</body>
</html>
