<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="searchController">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">About</a>
				  </li>
				</ul>
				<form class="form-inline my-2 my-lg-0" ng-submit="search()" >
				  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchText" ng-model="searchText">
				  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div>

			<table class="table table-hover">
				<thead>
				    <tr>
				      <th scope="col">Title</th>
				      <th scope="col">Genre</th>
				      <th scope="col">Description</th>
				      <th scope="col">Year</th>
				      <th scope="col">Runtime</th>
				      <th scope="col">Rating</th>				      
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr class="table-active" ng-repeat="movie in movieList">
				      	<td>{{movie.title}}</td>					    
					    <td>{{movie.genre}}</td>
					    <td>{{movie.description}}</td>
					    <td>{{movie.year}}</td>
					    <td>{{movie.runtime_minutes}}</td>
					    <td>{{movie.rating}}</td>					
					    <td><button type="button" class="btn btn-primary">Add to Cart</button></td>
					    <td><button type="button" class="btn btn-success">Buy</button></td>
				    </tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src='../js/search.js'>
	</script>
</html>