
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MovieStore</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<!-- <script src="../js/config.js"></script> -->
		<script src='../js/search.js'></script>		

		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/cover.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<style >
			.inner h3, h1 {
				color:white;
				font-size:30px;
				text-align-last: center;
			}
			.nav-link {
				font-size:15px;
				margin-left: 5px;
			}

		</style>
	</head>
	<body ng-app="myApp" ng-controller="mainController" class="container panel">
	<div class="panel-body">
		
		  	<div class = "row">
			<div class="col-lg-2 inner">

				      <h3 class="masthead-brand">Filmsgalore </h3>
			        
				
			 </div>
			<div class="col-lg-10">	
			<nav class="nav nav-masthead">
			         
		         <form class="form-inline mt-2 mt-md-0 searchbar" role="search" ng-submit="search()" id="navBarSearchForm">
		           <input class="transparent mr-sm-2" type="text" aria-label="Search" placeholder="Search" ng-model="searchText">
		           <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><span class="fa fa-search"></span></button>
		         </form>
		         
		           <a class="nav-link" href="cart.html" ng-if="login">
		           	<!-- <span class="fa fa-shopping-cart-white"></span><sup><span class="badge">{{count}}</span</sup>  -->
		           	Cart</a>
		           <a class="nav-link" href="editmovie.html" ng-show="admin">Edit Store</a>
		           <a class="nav-link" href="signup.html" ng-show="!login" >Sign Up</a>
		           <a class="nav-link" href="login.html" ng-show="!login">Login</a>
		           <a class="nav-link" href="#" ng-show="login" ng-click="logout()">Logout</a>
		        
		    </nav>
		    </div>
		    </div>

		<div class="inner cover panel-body" id="defaulttext" ng-if="!filteredMovieList">
			 <h1 class="cover-heading">Hmmm...there seems to be no search results. Why don't you try typing in the search box above?</h1>
		</div>

		<!-- <nav class="navbar navbar-default transparent" style="margin-bottom: 0px">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <ul class="nav navbar-nav">
		    	<li class="active"><a href="#">Home</a></li>
		    	<li><a href="#">Page 1</a></li>
		    	<li><a href="#">Page 2</a></li>
			</ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li>
		    		<form class="navbar-form navbar-left" role="search" ng-submit="search()" id="navBarSearchForm">
					    <div class="form-group">
					        <input type="text" placeholder="Search" ng-model="searchText" style="float: left">
					        <button type="submit" class="btn btn-default" style="height: 40px">
					        	<span class="glyphicon glyphicon-search"></span>
					    	</button>
					    </div>
					  
					</form>
		    	</li>
		    	<li ng-show="login"><a href="./cart.html"><span class="glyphicon glyphicon-shopping-cart"></span><sup><span class="badge">{{count}}</span></sup></a></li>
		    	<li ng-show="!login"><a href="./signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      	<li ng-show="!login"><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      	<li ng-show="login"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
		    </ul>
		  </div>
		</nav> -->

		<div class="search__container" ng-show="filteredMovieList.length > 0">
			<div class="dataFilter transparent">
				<div class="serviceBox1" >		
					<div class="box">			
						<input type="text" class="form-control" ng-model="query.title" placeholder="Search Title" />
					</div>
				</div>
				<div class="serviceBox2" >	
					<div class="box">				
						<input type="text" class="form-control" ng-model="query.genre" placeholder="Search Genre" />
					</div>
				</div>
				<div class="serviceBox3" >		
					<div class="box">			
						<input type="text" class="form-control" ng-model="query.year" placeholder="Search Year" />
					</div>
				</div>
				<div class="serviceBox4" >					
					<div class="box">
						<input type="text" class="form-control" ng-model="query.rating" placeholder="Search Rating" />
					</div>					
				</div>
				<div class="serviceBox5" >					
					<div class="box">
						<input type="text" class="form-control" ng-model="query.price" placeholder="Search Price" />
					</div>					
				</div>
			</div>


			<ul class="card transparent">
				<!-- <li class="search-item" ng-repeat="movie in filteredMovieList | filter:query"> -->
				<li class="search-item" ng-repeat="movie in filteredMovieList = (movieList | filter : query) | limitTo:7:7*(currentPage-1)">
				  <!-- <div class="search-item__image" style="background-image: url(../images/{{movie.imageurl}});"></div> -->
				  <div>
				    <img class="search-item__image" src="../images/{{movie.imageurl}}" ng-if="movie.imageurl">
				    <img class="search-item__image" src="../images/NoImage.jpeg" ng-if="!movie.imageurl">
				  </div>
				  <div class="search-item__options title">
				    <p class="text--medium">{{movie.title}}
				        <span class="label label--red text--upcase">
				          {{movie.genre}}
				        </span>
				    </p>
				    <p class="text--small text--muted">{{movie.description}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.year}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.duration}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.rating}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.price | currency }}</p>
				  </div>
				  <div class="search-item__options">
				    <button ng-show="movie.stockavailable > 0" class="btn btn-primary" ng-disabled="movie.disabled" ng-click="addToCart(movie)">Add to Cart</>
				  </div>
				  <div class="search-item__options text-danger" ng-show="movie.stockavailable == 0">
				  	Currently not available
				  </div>
				  <div class="search-item__options">
				    <button ng-show="movie.stockavailable > 0" class="btn btn-primary" ng-click="buy(movie)">Buy</>
				  </div>
				</li>

			</ul>

		</div>

		<center>
	 	<div class="transparent" ng-show="filteredMovieList">
		<pagination
		ng-model="currentPage"
		total-items="filteredMovieList.length"
		max-size="maxSize"  
		boundary-links="true">

		</pagination>
	    </div>
		<center>

	</div>
	</body>

</html>
