
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MovieStore</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="../js/config.js"></script>
		<script src='../js/search.js'></script>		
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body ng-app="myApp" ng-controller="mainController">

		<nav class="navbar navbar-default transparent" style="margin-bottom: 0px">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <ul class="nav navbar-nav">
		    	<li class="active"><a href="#">Home</a></li>
		    	<li><a href="#">Page 1</a></li>
		    	<li><a href="#">Page 2</a></li>
			</ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li>
		    		<form class="navbar-form navbar-left" role="search" ng-submit="search()" id="navBarSearchForm">
					    <div class="form-group">
					        <input type="text" placeholder="Search" ng-model="searchText" style="float: left">
					        <button type="submit" class="btn btn-default" style="height: 40px">
					        	<span class="glyphicon glyphicon-search"></span>
					    	</button>
					    </div>
					  
					</form>
		    	</li>
		    	<li ng-show="login"><a href="./cart.html"><span class="glyphicon glyphicon-shopping-cart"></span><sup><span class="badge">{{count}}</span></sup></a></li>
		    	<li ng-show="!login"><a href="./signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      	<li ng-show="!login"><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      	<li ng-show="login"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="search__container" ng-show="filteredMovieList.length > 0">
			<div class="dataFilter">
				<div class="serviceBox1" >		
					<div class="box">			
						<input type="text" class="form-control" ng-model="query.title" placeholder="Search Title" />
					</div>
				</div>
				<div class="serviceBox2" >	
					<div class="box">				
						<input type="text" class="form-control" ng-model="query.genre" placeholder="Search Genre" />
					</div>
				</div>
				<div class="serviceBox3" >		
					<div class="box">			
						<input type="text" class="form-control" ng-model="query.year" placeholder="Search Year" />
					</div>
				</div>
				<div class="serviceBox4" >					
					<div class="box">
						<input type="text" class="form-control" ng-model="query.rating" placeholder="Search Rating" />
					</div>					
				</div>
				<div class="serviceBox5" >					
					<div class="box">
						<input type="text" class="form-control" ng-model="query.price" placeholder="Search Price" />
					</div>					
				</div>
			</div>


			<ul class="card">
				<!-- <li class="search-item" ng-repeat="movie in filteredMovieList | filter:query"> -->
				<li class="search-item" ng-repeat="movie in filteredMovieList = (movieList | filter : query) | limitTo:10:10*(currentPage-1)">
				  <div class="search-item__image" style="background-image: url(../images/{{movie.imageurl}});"></div>
				  <div class="search-item__options title">
				    <p class="text--medium">{{movie.title}}
				        <span class="label label--red text--upcase">
				          {{movie.genre}}
				        </span>
				    </p>
				    <p class="text--small text--muted">{{movie.description}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.year}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.duration}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.rating}}</p>
				  </div>
				  <div class="search-item__options">
				    <p class="text--medium">{{movie.price | currency }}</p>
				  </div>
				  <div class="search-item__options">
				    <button ng-show="movie.stockavailable > 0" class="button button--outline button--small" ng-disabled="movie.disabled" ng-click="addToCart(movie)">Add to Cart</>
				  </div>
				  <div class="search-item__options text-danger" ng-show="movie.stockavailable == 0">
				  	Currently not available
				  </div>
				  <div class="search-item__options">
				    <button ng-show="movie.stockavailable > 0" class="button button--outline button--small" ng-click="buy(movie)">Buy</>
				  </div>
				</li>

			</ul>

		</div>

		<pagination
		ng-model="currentPage"
		total-items="filteredMovieList.length"
		max-size="maxSize"  
		boundary-links="false">
		</pagination>

	</body>

</html>
