
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MovieStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="../css/common.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  
</head>
<body ng-app="myApp">
<div id="header"></div>	
<div class="container h-100 w-50">
<div class="justify-content-center align-items-center transparent textcolor">
<form id="signup" name="signup"  ng-controller="signUpController" ng-submit="submit()" >
	<fieldset>
    <legend>Sign Up</legend>
        
    <div class="form-group form-group-lg">
      <label class="col-form-label col-form-label-sm" for="inputSmall">Email address <span >*</span></label>
      <input type="text" class="form-control form-control-sm" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email" ng-model="email" ng-required="true" ng-change="checkEmailValidity()" >
      <span ng-show="!email.length">Please enter something!</span>
      <span class="error" ng-show="!userValidEmail">Not valid email!</span>
      <span class="error" ng-show="usernameExists">The username already exists!</span>
    </div>
    
    <div class="form-group form-group-lg ">
      <label class="col-form-label col-form-label-sm" for="inputSmall" >First Name</label>
      <input type="text" class="form-control form-control-sm" id="firstname" name="firstname" aria-describedby="firstNameHelp" placeholder="Enter First Name" ng-model="firstname">
    </div>
    
    <div class="form-group form-group-lg">
      <label class="col-form-label col-form-label-sm" for="inputSmall">LastName</label>
      <input type="text" class="form-control form-control-sm" id="lastname" name="lastname" aria-describedby="lastNameHelp" placeholder="Enter Last Name" ng-model="lastname">
    </div>
    
    <div class="form-group form-group-lg">
      <label class="col-form-label col-form-label-sm" for="inputSmall">Password <span >*</span></label>
      <input type="password" class="form-control form-control-sm" id="password" name="password" ng-change="analyze(password)" placeholder="Password" ng-model="password">
      <span ng-show="goodStrength">Password is of good Strength</span>
      <span ng-show="mediumStrength">Password is of medium Strength.</span>
      <span ng-show="badStrength">Password is of bad Strength.</span>
    </div>
    
    <div class="form-group form-group-lg">
      <label class="col-form-label col-form-label-sm" for="inputSmall">Confirm Password <span >*</span></label>
      <input type="password" class="form-control form-control-sm" id="confirmpassword" name="confirmpassword" ng-change="verifyPassword()" placeholder="ConfirmPassword" ng-model="confirmpassword">
      <span ng-show="!confirmpassword.length">Please enter something!</span>
      <span ng-show="!passwordMatch">Passwords don't match.</span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Fields marked with * are mandatory</p>
	</fieldset>
	</form>
</div>
</div>
</body>
<script src='../js/header.js'></script>
<script src='../js/signup.js'></script>

</html>
